body {

    margin: 0;

    font-family: Arial, sans-serif;

    background-color: #f4f8f4;

    color: #222;
}


nav {

    display: flex;

    align-items: center;

    gap: 25px;

    padding: 20px 50px;

    background-color: white;

    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}


nav h2 {

    margin-right: auto;

}


nav a {

    text-decoration: none;

    color: #222;

    font-weight: bold;

}


.hero {

    text-align: center;

    padding: 100px 20px;

}


.hero h1 {

    font-size: 50px;

}


.hero p {

    font-size: 20px;

}


button {

    padding: 14px 30px;

    border: none;

    border-radius: 10px;

    font-size: 17px;

    cursor: pointer;

}


.features {

    display: flex;

    justify-content: center;

    gap: 25px;

    padding: 30px;

}


.feature {

    width: 250px;

    padding: 25px;

    background: white;

    border-radius: 15px;

    text-align: center;

    box-shadow: 0 3px 10px rgba(0,0,0,0.1);

}


.scanner {

    text-align: center;

    padding: 80px 20px;

}


.scanner input {

    padding: 15px;

    width: 280px;

    font-size: 16px;

    border-radius: 8px;

    border: 1px solid #aaa;

}


.example {

    margin-top: 40px;

}


.result {

    max-width: 700px;

    margin: auto;

    padding: 60px 20px;

}


.result h1 {

    text-align: center;

    font-size: 40px;

}


.category {

    text-align: center;

}


.card {

    background: white;

    margin: 20px 0;

    padding: 25px;

    border-radius: 15px;

    box-shadow: 0 3px 10px rgba(0,0,0,0.1);

}


.card h2 {

    margin-top: 0;

}
